body {
    margin: 0;
    padding: 0;
}
header {
    grid-area: header;
    background-color: #66f;
}

menu {
    grid-area: menu;
    padding-left: 0;
    margin-left: 0;

}
.menu-categorias {
    padding: 0.5rem 2rem;

    & p {
        line-height: 0.7rem;
    }
}
span {
    color: grey;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    background-color: #66f;
}
.grid-container {
    gap: 10px;
    display: grid;
    grid-template-areas: 
    "header header"
    "menu main"
    "footer footer"
}
.text-center {
    text-align: center;
    margin-bottom: 0;
}
.card-items {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    padding: 15px;
    margin-top: 0.5rem;
    
}

.card-body:first-child {
    margin-bottom: 0;
} 
.card-body {
    padding-left: 0 !important;
    padding-right: 0 !important; 
}
 .card {
    margin: 0.2rem;
    width: calc(24% + 80px) !important;
    margin-right: 1rem;
 }  
 .gray {
    color: rgb(184, 180, 180);
 }
 .grey {
    color: gray;
 }
  
 .altura {
    min-height: 3rem;
 }
 .flex-items-menu {
    display: flex;
 }
 .text-white {
    color: azure;
 }

 